---
import Footer from "../../components/Footer.astro";
import Hero from "../../components/Hero.astro";
import Journey from "../../components/Journey.astro";
import Nav from "../../components/Nav.astro";
import Projects from "../../components/Projects.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="ザヒドのポートフォリオ">
  <body>
    <div class="bg">
      <Nav/>
      <Hero />
    </div>
    <!-- <Journey /> -->
    <Projects />
    <Footer />
  </body>
</Layout>

<style>
  body,
  html {
    /* height: 100%; */
    margin: 0;
    background-color: #21407a;
  }

  .bg {
    background-image: url("images/bg.png");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
