---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zahid Portfolio">
  <body>
    <div class="bg">
      <Header />
    </div>
  </body>
</Layout>

<style>
  body,
  html {
    /* height: 100%; */
    margin: 0;
  }

  .bg {
    background-image: url("images/bg.png");
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
