<div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
  <div
    class="animate-background rounded-xl hover:bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 bg-[length:400%_400%] p-1 transition [animation-duration:_2s]"
  >
    <a
      target="_blank"
      href="https://github.com/zahid47"
      class="link block rounded-lg bg-white px-5 py-3 text-sm font-medium text-slate-700 transition text-center"
    >
      <p class="font-pally-medium font-bold">
        GitHub
        <span>&rarr;</span>
      </p>
    </a>
  </div>
</div>

<style>
  .link span {
    display: inline-block;
    transition: 0.1s ease-in;
  }

  .link:hover span {
    transform: translateX(50%);
  }

  .link:focus span {
    transform: translateX(50%);
  }
</style>
