<footer aria-label="Site Footer">
  <div class="mx-auto max-w-screen-xl p-2 sm:px-6 lg:px-8">
    <div class="text-center text-slate-300 font-pally-regular text-sm p-4">
      <p>
        <a
          target="_blank"
          href="https://thenounproject.com/icon/cat-suit-232264">Cat Suit</a
        > icon Created by Denis Sazhin from Noun Project.
      </p>
      <p>
        {`Designed & Developed by`}
        <a target="_blank" href="https://github.com/zahid47">Zahid</a> &copy; {
          `${new Date().getFullYear()}`
        }
      </p>
    </div>
  </div>
</footer>
