<div aria-label="Page Header">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <section class="flex flex-col sm:flex-row">
          <img
            class="self-center h-32 m-6"
            src="/images/cats/cat_1.svg"
            alt="A cute line-art illustration of a cat wearing a suit"
          />
          <section>
            <p class="mt-1.5 text-sm==md text-white">Yahallo! 👋</p>
            <h1 class="font-sans text-2xl font-bold text-white sm:text-3xl">
              Nice to meet you.
            </h1>
            <p class="mt-2 text-sm==md text-white mb-4">
              I am a software engineer based in Dhaka. I build web applications,
              discord bots, video games and everything in between.
            </p>
            <div
              class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center"
            >
              <a
                target="_blank"
                href="https://github.com/zahid47"
                class="block rounded-lg bg-white px-5 py-3 text-sm font-medium text-gray-900 transition hover:bg-gray-100 focus:outline-none focus:ring text-center"
              >
                <h2>
                  GitHub
                  <span>&rarr;</span>
                </h2>
              </a>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>
