<article>
  <p class="font-pally-medium mt-1.5 text-sm==md text-white">Yahallo! 👋</p>
  <h1 class="font-pally-medium text-2xl text-white sm:text-3xl">
    Nice to meet you.
  </h1>
  <p class="font-pally-regular mt-2 text-sm==md text-white mb-4">
    I am a software engineer based in Dhaka. I build web applications, discord
    bots, video games and everything in between.
  </p>
</article>
