---
import JourneyStep from "./JourneyStep.astro";

export interface Step {
  id: number;
  title: string;
  description: string;
  stage: "past" | "present" | "future";
  isLast: boolean;
}

const steps: Step[] = [
  {
    id: 1,
    title: "2014",
    description:
      "I started tinkering with computers when I was at high school and my fascination with technology began. Started learning coding and design.",
    stage: "past",
    isLast: false,
  },
  {
    id: 2,
    title: "2016 - 2018",
    description:
      "Started working as a freelance UI/UX designer and contributed to multiple products that successfully launched in app stores.",
    stage: "past",
    isLast: false,
  },
  {
    id: 3,
    title: "2019 - 2023",
    description: "Pursued my bachelor's degree in Software Engineering.",
    stage: "past",
    isLast: false,
  },
  {
    id: 4,
    title: "2022 - 2023",
    description:
      "Got my first job as a software engineer. Helped launch a new startup by contributing to key features.",
    stage: "past",
    isLast: false,
  },
  {
    id: 5,
    title: "2022 - Current",
    description:
      "Got admitted to the B-JET program where I'm learning Japanese language, culture and business manners.",
    stage: "present",
    isLast: false,
  },
  {
    id: 6,
    title: "Beyond",
    description:
      "I want to work as a software engineer in Japan and contrubute to impactful projects that will make a difference in people's lives.",
    stage: "future",
    isLast: true,
  },
];
---

<article>
  <h1 class="font-pally-medium text-center text-slate-200 text-xl p-20">
    My Journey
  </h1>
  <div class="flex items-center justify-center">
    <ol class="relative text-slate-200 border-l border-slate-200">
      {steps.map((step: Step) => <JourneyStep key={step.id} step={step} />)}
    </ol>
  </div>
  <div class="mb-20"></div>
</article>
