---
import JourneyStep from "./JourneyStep.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export interface Step {
  id: number;
  title: string;
  description: string;
  stage: "past" | "present" | "future";
  isLast: boolean;
}

const steps: Step[] = [
  {
    id: 1,
    title: t("journey.1"),
    description: t("journey.1-text"),
    stage: "past",
    isLast: false,
  },
  {
    id: 2,
    title: "2016 - 2018",
    description: t("journey.2-text"),
    stage: "past",
    isLast: false,
  },
  {
    id: 3,
    title: "2019 - 2023",
    description: t("journey.3-text"),
    stage: "past",
    isLast: false,
  },
  {
    id: 4,
    title: "2022 - 2023",
    description: t("journey.4-text"),
    stage: "past",
    isLast: false,
  },
  {
    id: 5,
    title: t("journey.5"),
    description: t("journey.5-text"),
    stage: "present",
    isLast: false,
  },
  {
    id: 6,
    title: t("journey.6"),
    description: t("journey.6-text"),
    stage: "future",
    isLast: true,
  },
];
---

<article>
  <h1 class="font-pally-medium text-center text-slate-200 text-xl p-5">
    {t("journey.my-journey")}
  </h1>
  <div class="flex items-center justify-center">
    <ol class="relative text-slate-200 border-l border-slate-200">
      {steps.map((step: Step) => <JourneyStep key={step.id} step={step} />)}
    </ol>
  </div>
</article>
