<nav
  class="fixed top-0 left-0 w-full z-50 h-16 flex items-center justify-end px-6"
>
  <ul class="flex items-center gap-2">
    <li><a href="/jp" class="font-pally-regular text-slate-100">日本語</a></li>
  </ul>
</nav>
