---
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<nav
  class="fixed top-0 left-0 w-full z-50 h-16 flex items-center justify-end px-6"
>
  <ul class="flex items-center gap-2">
    <li>
      <a
        href={lang === "en" ? "/jp" : "/en"}
        class="font-pally-regular text-slate-100"
        >{lang === "en" ? "日本語" : "EN"}</a>
    </li>
  </ul>
</nav>
