---
import Project from "./Project.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Stack {
  id: number;
  name: string;
  color?: string;
}

export interface Project {
  id: number;
  title: string;
  description: string;
  stack: Stack[];
  link: string;
  timeframe: string;
}

const projects: Project[] = [
  {
    id: 1,
    title: t("projects.1.title"),
    description: t("projects.1.description"),
    stack: [
      {
        id: 1,
        name: "TypeScript",
      },
      {
        id: 2,
        name: "Prisma",
      },
      {
        id: 3,
        name: "React",
      },
      {
        id: 4,
        name: "Mapbox",
      },
    ],
    link: "https://github.com/zahid47/quiz-app",
    timeframe: t("projects.1.time"),
  },
  {
    id: 2,
    title: t("projects.2.title"),
    description: t("projects.2.description"),
    stack: [
      {
        id: 1,
        name: "TypeScript",
      },
      {
        id: 2,
        name: "Express.js",
      },
      {
        id: 3,
        name: "MongoDB",
      },
      {
        id: 4,
        name: "React",
      },
    ],
    link: "https://github.com/zahid47/quiz-app",
    timeframe: t("projects.2.time"),
  },
  {
    id: 3,
    title: t("projects.3.title"),
    description: t("projects.3.description"),
    stack: [
      {
        id: 1,
        name: "TypeScript",
      },
      {
        id: 2,
        name: "NPM",
      },
    ],
    link: "https://www.npmjs.com/package/sharp-watermark",
    timeframe: t("projects.3.time"),
  },
  {
    id: 4,
    title: t("projects.4.title"),
    description: t("projects.4.description"),
    stack: [
      {
        id: 1,
        name: "JavaScript",
      },
      {
        id: 2,
        name: "SpotifyWebAPI",
      },
      {
        id: 3,
        name: "React",
      },
    ],
    link: "https://github.com/zahid47/mixify",
    timeframe: t("projects.4.time"),
  },
  {
    id: 5,
    title: t("projects.5.title"),
    description: t("projects.5.description"),
    stack: [
      {
        id: 1,
        name: "Python",
      },
      {
        id: 2,
        name: "Flask",
      },
      {
        id: 3,
        name: "Openpyxl",
      },
      {
        id: 4,
        name: "React",
      },
    ],
    link: "https://github.com/zahid47/CR2",
    timeframe: t("projects.5.time"),
  },
  {
    id: 6,
    title: t("projects.6.title"),
    description: t("projects.6.description"),
    stack: [
      {
        id: 1,
        name: "Python",
      },
      {
        id: 2,
        name: "Pycord",
      },
      {
        id: 3,
        name: "MongoDB",
      },
    ],
    link: "https://github.com/zahid47/MuteAll",
    timeframe: t("projects.6.time"),
  },
];
---

<article class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:px-8">
  <h1 class="font-pally-medium text-center text-slate-200 text-xl p-10">
    {t("projects.projects")}
  </h1>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    {
      projects.map((project: Project) => (
        <Project key={project.id} project={project} />
      ))
    }
  </div>
</article>
